@mixin fix-to-center
    width: 60%
    margin: 0 auto
    display: flex
@mixin button
    font-size: 16px
    color: white
    background-color: blue
    padding: 15px 30px
    border: 0px
    border-radius: 30px

header
    height: 70px
    background-color: #343a40

nav
    @include fix-to-center
    align-items: center
    justify-content: space-between
    a
        color: white
        text-decoration: none
        font-size: 20px

ul
    list-style: none
li
    flex-direction: row
    margin: 20px
    display: inline

.name
    background-color: blue
    height: 350px

.title
    @include fix-to-center
    justify-content: flex-start
    flex-direction: column
    padding: 70px

    h2
        color: white
        font-size: 70px
        margin: 0px
    p
        color: white
        font-size: 20px

main
    background-color: white
.description
    @include fix-to-center
    button
        @include button

    // .left
    //     flex-grow: 2
    // .right
    //     flex-grow: 1
    h4
        font-size: 30px

.left
    width: 66%
    p
        font-size: 16px

.right
    margin-left: 25px
.m-cards
    @include fix-to-center
    margin-top: 30px
    padding: 50px 0

.card
    flex-direction: column
    margin: 15px
    border: 2px solid grey

    img
        width: 100%
        height: 200px

    h6
        font-size: 35px
        margin: 15px
        float: left
    p

        font-size: 16px
        margin: 15px
        float: left
        padding-bottom: 50px
        border-bottom: 2px solid grey
    button
        @include button
        margin: 20px 15px
        float: left
        border: 2px solid

footer
    background-color: grey
    .f-container
        @include fix-to-center
        justify-content: center

        height: 100px
    p
        margin-top: 45px
        color: white
        font-size: 20px